<h2 class="text-center margin-header">Create a new gossip:</h2>
<div class="container margin-header">
	<%= form_for @gossip, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.hidden_field :user_id , :value => current_user.id %>
    <strong><%= f.label :title %></strong><br />
		<%= f.text_field :title, placeholder: "A title.." %>		
		<strong><%= f.label :content %></strong><br />
		<%= f.text_area :content, placeholder: "Write something...", size: "60x10" %>
		<%= f.submit "Submit" %>
	<% end %>
</div>